@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
.gradient-background {
  background: #e2e2e2;
  background: linear-gradient(135deg, #e2e2e2, #c2c2c2); }
  .gradient-background--soft-purple {
    background: linear-gradient(135deg, #F97794, #623AA2); }
  .gradient-background--orange-ice-cream {
    background: linear-gradient(135deg, #FCCF31, #F55555); }
  .gradient-background--blue-sea {
    background: linear-gradient(135deg, #52E5E7, #130CB7); }
  .gradient-background--juicy-lime {
    background: linear-gradient(135deg, #FFF720, #3CD500); }
  .gradient-background--summer-sunset {
    background: linear-gradient(135deg, #FF9D6C, #BB4E75); }
  .gradient-background--underwater {
    background: linear-gradient(135deg, #79F1A4, #0E5CAD); }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f4;
  font-family: "Open Sans", system-ui, -apple-system, sans-serif;
  color: #58586e; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Quicksand", system-ui, -apple-system, sans-serif;
  font-weight: 400; }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    margin-top: 0; }

h1, h2, h3, h4, h5, h6, p, li {
  margin-left: 15px; }

a {
  color: #58586e;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-out; }
  a:hover, a:active, a.active {
    color: #ff6347; }
  a.link-filled {
    color: #ff6347;
    border-bottom: 1px dashed #ff6347; }
    a.link-filled:hover {
      background-color: #ff6347;
      color: white; }
    a.link-filled, a.link-filled:hover {
      transition: background-color 0.3s ease-out; }

ul.nav {
  margin-top: 0;
  padding-left: 0;
  list-style: none; }
  ul.nav li {
    padding: 10px 5px; }
    ul.nav li:hover {
      cursor: pointer; }
      ul.nav li:hover a {
        color: #ff6347; }

.container {
  display: flex;
  flex-wrap: wrap; }

#wrapper {
  width: 960px;
  margin: 20px auto;
  background-color: white; }

#header, #sidebar, #content, #footer {
  padding-left: 20px;
  padding-right: 60px; }

#header {
  display: flex;
  align-items: center;
  height: 120px;
  box-shadow: inset 0 -1px 0 #f3f3f4; }

#footer {
  display: flex;
  align-items: center;
  height: 80px;
  box-shadow: inset 0 1px 0 #f3f3f4; }

#content {
  display: flex;
  flex-direction: column;
  flex: 4 1 500px;
  min-height: 620px;
  box-shadow: inset 1px 0 0 #f3f3f4; }
  #content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    color: #4794ff;
    font-weight: 500; }
  #content .container {
    margin-left: 15px; }
  #content > p {
    max-width: 480px; }

#sidebar {
  display: flex;
  flex-direction: column;
  flex: 1 1 280px; }
  #sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
    align-self: flex-start;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: #4794ff;
    font-weight: 500;
    color: white; }

.box {
  position: relative;
  float: left;
  height: 150px;
  width: 150px;
  margin: 15px;
  background-color: #e2e2e2;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 6px 8px 0 rgba(0, 0, 0, 0.05); }
  .box, .box:hover {
    transition: transform 0.3s ease-in-out; }
  .box:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05); }

.message {
  max-width: 400px;
  background-color: #fff2ef;
  border: 2px solid #ff6347;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  color: #8f5b5b; }
  .message--heading {
    font-weight: 600; }

.player {
  display: flex;
  flex-direction: column;
  width: 480px; }
  .player__video {
    width: inherit;
    height: 270px;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 6px 8px 0 rgba(0, 0, 0, 0.05); }
  .player__controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px; }
    .player__controls--button {
      position: relative;
      margin: 3px;
      padding: 0;
      width: 60px;
      height: 60px;
      background: transparent;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08), 0 6px 8px 0 rgba(0, 0, 0, 0.05); }
      .player__controls--button:active {
        transform: scale(0.9);
        transition: transform 0.2s ease-in; }
      .player__controls--button:hover {
        cursor: pointer; }
        .player__controls--button:hover:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          background-color: rgba(255, 255, 255, 0.1); }
      .player__controls--button img {
        width: inherit;
        height: inherit; }

.g-controls {
  display: flex;
  flex-direction: column;
  margin-top: 20px; }
  .g-controls > *:not(:first-child) {
    margin-top: 10px; }

.g-controls__group {
  padding: 5px 10px;
  border: 1px solid #f3f3f4;
  border-radius: 5px; }

.g-color-picker {
  display: inline-block;
  padding: 5px 18px; }
  .g-color-picker:not(:last-child) {
    margin-right: 5px; }
  .g-color-picker label {
    font-size: 14px;
    text-transform: uppercase;
    color: #595959; }

@-moz-document url-prefix() {
  .g-color-picker {
    display: inline-flex;
    align-items: center; }
    .g-color-picker label + * {
      margin-left: 5px; } }

.g-radio__container {
  margin: 5px 15px;
  border-radius: 3px;
  background-color: #d3d3d3; }

.g-radio {
  display: inline-block;
  float: left;
  font-size: 15px;
  color: #818388; }
  .g-radio > * {
    cursor: pointer; }
  .g-radio:first-child label {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px; }
  .g-radio:last-child label {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }
  .g-radio input[type='radio'] {
    margin: 0;
    width: 12px;
    height: 12px;
    visibility: hidden; }
    .g-radio input[type='radio'] + label {
      display: inline-block;
      margin-left: -16px;
      padding: 5px 16px;
      background-color: #d3d3d3; }
    .g-radio input[type='radio']:checked + label {
      background-color: #4794ff;
      color: white; }
    .g-radio input[type='radio']:not(:checked) + label:hover {
      background-color: #dbdbdb; }

.g-input {
  display: inline-flex;
  margin: 10px 5px; }
  .g-input input[type=number]::-webkit-inner-spin-button,
  .g-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none; }
  .g-input input {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    width: 50px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #d3d3d3;
    text-align: center;
    color: #58586e; }
    .g-input input + .g-input__button--left {
      border-left: none; }
    .g-input input + .g-input__button--right {
      border-right: none; }

.g-input__label {
  font-size: 14px;
  color: #595959; }

.g-input__button {
  margin: 0;
  height: 30px;
  width: 30px;
  border: 0;
  background-color: #4794ff;
  color: white;
  cursor: pointer;
  opacity: .7; }
  .g-input__button, .g-input__button:hover {
    transition: opacity 0.2s ease-in; }
  .g-input__button:hover {
    opacity: 1; }

.g-input__button--left {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }
  .g-input__button--left ~ .g-input__number-field {
    border-left: none; }

.g-input__button--right {
  order: 3;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  .g-input__button--right ~ .g-input__number-field {
    border-right: none; }

.g-output {
  margin-top: 20px; }
  .g-output .g-output__button--copy {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    background-color: rgba(88, 88, 110, 0.1);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-out; }
  .g-output:hover .g-output__button--copy {
    opacity: .9;
    transition: opacity 0.3s ease-in; }
  .g-output .g-output__text--value {
    position: absolute;
    top: 50%;
    left: 5px;
    right: 0;
    text-align: center;
    transform: translateY(-17px);
    font-size: 25px; }

.g-slider {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  height: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s; }
  .g-slider:hover {
    opacity: 1; }
  .g-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    background: #4794ff;
    cursor: pointer; }
  .g-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: none;
    background: #4794ff;
    cursor: pointer; }

/*# sourceMappingURL=maps/styles.css.map */
