$slides-count: 3;
$slides-width: 480px;
$slides-height: 360px;

// $slides-count: attr(data-count integer, 0);
// @debug $slides-count;

%arrow {
  background: url('../assets/icons/next.svg');
  background-size: cover;
}

.slideshow {
  width: $slides-width;
  margin: 15px;

  @for $i from 1 through $slides-count {
    input[id='image_#{$i}']:checked {
      & ~ .frame .dots label[for='image_#{$i}'] {
        background-color: white;
        cursor: pointer;
      }

      & ~ .frame .slides .slide:nth-of-type(#{$i}) {
        opacity: 1;
      }
    }
  }

  input[id^='image']:not(:checked) ~ .frame .dots label[for^='image']:hover {
    background-color: white;
    cursor: pointer;
  }

  $current: 1;
  $previous: $current - 1;
  $next: $current + 1;

  @for $current from 1 through $slides-count {
    // @debug 'current:' $current;
    @if $current == 1 {
      $previous: $slides-count;
      $next: $current + 1;
    } @else if $current == $slides-count {
      $previous: $current - 1;
      $next: 1;
    } @else {
      $previous: $current - 1;
      $next: $current + 1;
    }
    // @debug 'previous:' $previous;
    // @debug 'next:' $next;
    input[id='image_#{$current}']:checked ~ .frame .arrows {
      label[for='image_#{$previous}']:before,
      label[for='image_#{$next}']:after {
        display: block;
      }
    }
  }

  .frame {
    position: relative;
    min-height: $slides-height;
    background-color: #f5f6f9;
    border-radius: 3px;
    overflow: hidden;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 6px;
      background-color: transparentize(#47484B, .1);
      border-radius: 3px 3px 0 0;
    }

    .slides {
      position: relative;
      width: 100%;

      .slide {
        position: absolute;
        width: inherit;
        opacity: 0;
        transition: opacity .3s ease-in-out;

        img {
          display: block;
          width: inherit;
        }
      }
    }

    .dots {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      padding: 6px 0;
      background-color: transparentize(#47484B, .2);

      label {
        width: 14px;
        height: 14px;
        border: 2px solid white;
        border-radius: 50%;
        transition: background-color .3s ease-out;

        &:not(:last-of-type) {
          margin-right: 5px;
        }
      }
    }

    .arrows label {
      cursor: pointer;
      user-select: none;

      &:hover {
        &:before,
        &:after {
          opacity: 1;
        }
      }
      &:before,
      &:after {
        display: none;
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%;
        opacity: .7;
        transition: opacity .3s ease-in-out;
      }
      &:before {
        @extend %arrow;
        transform: translateY(-50%) rotate(180deg);
        left: 10px;
      }
      &:after {
        @extend %arrow;
        right: 10px;
      }
    }
  }

  .thumbs {
    display: flex;
    position: relative;
    margin-top: 6px;

    label[for^='image'] {
      position: relative;
      display: flex;
      flex-grow: 1;
      width: $slides-width / $slides-count;
      height: $slides-height / $slides-count;
      background-color: #f5f6f9;
      border-radius: 3px;
      overflow: hidden;
      cursor: pointer;
      &:not(:last-of-type) {
        margin-right: 6px;
      }
      img {
        width: 100%;
        transition: transform .2s ease-in-out;
      }
      &:after {
        opacity: 0;
        content: attr(data-title);
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        font-size: 12px;
        color: white;
        background-color: transparentize(#47484B, .1);
        transition: opacity .3s ease-in-out;
      }
      &:hover {
        &:after {
          opacity: 1;
        }
        img { transform: scale(1.1); }
      }
    }
  }
}

.hidden {
  display: none;
}
