@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$font-family-heading: 'Quicksand', system-ui, -apple-system, sans-serif;
$font-family-content: 'Open Sans', system-ui, -apple-system, sans-serif;

$text-color: #28231d;

$primary-color: #ff6347;
$secondary-color: #4794ff;

$gradient-color-list: (
    'soft-purple': (#F97794, #623AA2),
    'orange-ice-cream': (#FCCF31, #F55555),
    'blue-sea': (#52E5E7, #130CB7),
    'juicy-lime': (#FFF720, #3CD500),
    'summer-sunset': (#FF9D6C, #BB4E75),
    'underwater': (#79F1A4, #0E5CAD)
);

@mixin gradient($colors) {
  background: linear-gradient(135deg, $colors);
}

.gradient-background {
  background: #e2e2e2;
  background: linear-gradient(135deg, #e2e2e2, #c2c2c2);
  @each $color-name, $colors in $gradient-color-list {
    &--#{$color-name} {
      @include gradient($colors);
    }
  }
}

@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f4;
  font-family: $font-family-content;
  color: $text-color;
}

#{headings(1,6)} {
  font-family: $font-family-heading;
  font-weight: 400;
}

#{headings(1,6)}, .container, p, li {
  margin-left: 15px;
}

a {
  color: $text-color;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-out; // CSS3
  &:hover,
  &:active,
  &.active {
    color: $primary-color;
  }
  &.link-filled {
    color: $primary-color;
    border-bottom: 1px dashed $primary-color;
    &:hover {
      background-color: $primary-color;
      color: white;
    }
    &, &:hover {
      transition: background-color 0.3s ease-out; // CSS3
    }
  }
}

ul.nav {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  li {
    padding: 10px 5px;
    &:hover {
      cursor: pointer;
      a {
        color: $primary-color;
      }
    }
  }
}

#wrapper {
  width: 960px;
  height: 800px;
  margin: 20px auto;
  background-color: white;
  & > * {
    padding-left: 20px;
  }
}

#banner {
  height: 120px;
  box-shadow: inset 0 -1px 0 #f3f3f4; // CSS3 / Not supported by IE6 - IE8
  h1 {
    line-height: 77px; // center h1
  }
}

#banner, #footer {
  border-top: 1px solid transparent; // prevent margin collapsing
}

#footer {
  height: 80px;
  box-shadow: inset 0 1px 0 #f3f3f4; // CSS3 / Not supported by IE6 - IE8
}

#content {
  float: right;
  width: 580px;
  height: 600px;
  box-shadow: inset 1px 0 0 #f3f3f4; // CSS3 / Not supported by IE6 - IE8
  #{headings(1,6)} {
    color: $secondary-color;
    font-weight: 500;
  }
  p {
    max-width: 480px;
  }
}

#sidebar {
  float: left;
  width: 340px;
  height: 600px;
  #{headings(1,6)} {
    /* display: inline-block; // CSS3 */
    width: 45px;
    margin: 20px 0;
    padding: 10px 15px;
    background-color: $secondary-color;
    font-weight: 500;
    color: white;
  }
}

.container {
  margin-top: 20px;
}

.box {
  position: relative;
  float: left;
  height: 150px;
  width: 150px;
  margin: 15px;
  background-color: #e2e2e2;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  box-shadow: 0 0 20px  0 rgba(0, 0, 0, 0.08),
              0 6px 8px 0 rgba(0, 0, 0, 0.05);
  &, &:hover {
    transition: transform 0.3s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.05, 1.05);
  }
}

.clear{
  clear: both;
}

.message {
  max-width: 400px;
  background-color: lighten($primary-color, 33%);
  border: 2px solid $primary-color;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.4;
  color: #8f5b5b;
  &--heading {
    font-weight: 600;
  }
}

.player {
  width: 480px;
  &__video {
    width: inherit;
    border-radius: 3px;
    box-shadow: 0 0 20px  0 rgba(0, 0, 0, 0.08),
                0 6px 8px 0 rgba(0, 0, 0, 0.05);
  }
  &__controls {
    margin-top: 10px;
    text-align: center;
    &--button {
      position: relative;
      margin: 3px;
      padding: 0;
      width: 60px;
      height: 60px;
      background: #ccc;
      border: 0;
      border-radius: 50%;
      box-shadow: 0 0 20px  0 rgba(0, 0, 0, 0.08),
                  0 6px 8px 0 rgba(0, 0, 0, 0.05);
      &:active {
        transform: scale(.9);
        transition: transform 0.2s ease-in;
      }
      &:hover {
        cursor: pointer;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          background-color: transparentize(white, .9);
        }
      }
      img {
        width: inherit;
        height: inherit;
      }
    }
  }
}
