doctype html
html(lang="en")
  head
    block page-title
      title Advanced HTML5 & CSS3
    meta(charset='UTF-8')/
    link(rel='stylesheet' href='css/styles.css')/
  body
    #wrapper
      .container#header
        block header
          h1 Website for &#32;
            a.link-filled(href='https://education.gale.com/l-sfpl/online-courses/advanced-css3-html5') Advanced CSS3 and HTML5 class
      .container
        #sidebar
          block sidebar
            h3 Links
            ul.nav
              li: a(class=(page === 'index' ? 'active' : undefined) href='index.html') Home
              li: a(href='http://www.w3schools.com/') Reference: W3Schools
              li: a(class=(page === 'gradient-mixer' ? 'active' : undefined) href='gradient-mixer.html') Form: Gradient Mixer
              li: a(class=(page === 'video' ? 'active' : undefined) href='video.html') Video
        #content
          block content
            h2 Right Column Heading Here
            p Right column content here
      .container#footer
        block footer
          h5 Site by &#32;
            a.link-filled EY
