doctype html
html(lang="en")
  head
    block page-title
      title Advanced HTML5 & CSS3
    meta(charset='UTF-8')/
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='css/styles.css')/
  body
    #wrapper
      header.page__header
        block header
          h1 Website for &#32;
            a.link-filled(href='https://education.gale.com/l-sfpl/online-courses/advanced-css3-html5') Advanced CSS3 and HTML5 class
      aside
        label(for='burger' tabindex='1')
        input(type='checkbox' id='burger' role='switch' aria-label='Main menu' tabindex='-1')
        .i-burger
          span
          span
          span
        a(href='index.html')
          .g-icon.g-icon-home
        nav
          header
            block navigation-header
              h3 Links
          ul
            block navigation
              li: a(class=(page === 'index' ? 'active' : undefined) href='index.html') Home
              li: a(href='http://www.w3schools.com/') Reference: W3Schools
              li: a(class=(page === 'gradient-mixer' ? 'active' : undefined) href='gradient-mixer.html') Form: Gradient Mixer
              li: a(class=(page === 'video' ? 'active' : undefined) href='video.html') Video
              li: a(class=(page === 'slideshow' ? 'active' : undefined) href='slideshow.html') Slideshow
      article
        header
          block content-header
              h2 Right Column Heading Here
        block content
          p Right column content here
      footer.page__footer
        block footer
          h5 Site by &#32;
            a.link-filled EY
    block scripts
