extends _layout

block page-title
    title 'Gradient Mixer | HTML5 & CSS3'

prepend sidebar
    -var page = 'gradient-mixer'

block content
    h2 Gradient Mixer
    p Create a two-color gradient background for your website!
    .gradient-mixer.container

block scripts
    script(src='js/gradient-mixer.js')