extends _layout.pug

block page-title
    title Home | Advanced HTML5 & CSS3

prepend sidebar
    -var page = 'index';

block content
    h2 Right Column Heading Here
    p Right column content here
    .container
        - var gradientColors = ['--soft-purple', '--orange-ice-cream', '--blue-sea', '--juicy-lime', '--summer-sunset', '--underwater'];
        each color in gradientColors
            div(class='box gradient-background' + color): p Box content
        