extends _layout.pug

block page-title
    title Home | Advanced HTML5 & CSS3

prepend navigation
    -var page = 'index';

block content-header
    h2 Right Column Heading Here
block content
    p Right column content here
    .box__container
        - var gradientColors = ['--soft-purple', '--orange-ice-cream', '--blue-sea', '--juicy-lime', '--summer-sunset', '--underwater'];
        each color in gradientColors
            div(class='box gradient-background' + color): p Box content
        